/* 
* Amazium V1.3
* Copyright 2012, Mike Ballan
* www.amazium.co.uk
*/

/***** Screen 960px *****/


.top			 								{ margin:0 auto; margin-top:30px; }	
.base											{ margin:0 auto; margin-bottom:40px; }	
span.example									{ margin-bottom:5px; padding:5px 0 5px 0; background-color:#eee; text-align:center; width:100%; display:block; }

label.inlinelabel { width: 60px; }  

/***** Logo, Btn & Phone Menu Btn *****/


a.navigation-btn 								{ display:none; padding: 4px; float:right; }
a.navigation-btn img 							{ margin:0; padding:0; height:auto; cursor:pointer; float:right; }

/***** Screen Bigger than 960px *****/
@media only screen and (min-width:1200px) {

label.inlinelabel { width: 105px; }  

}



/***** Tablet (Smaller than 959px) *****/
@media only screen and (min-width: 768px) and (max-width: 959px) {

label.inlinelabel { width: 210px; }  
    #banner
    {
        background: none;
    }

}



/***** Phone (portrait 300px) *****/
@media only screen and (max-width: 767px) {
.navigation {display:none;}	
label.inlinelabel { width: 85px; }   
    #banner
    {
        background: none;
    }

}


	
/***** Phone (landscape 420px) *****/
@media only screen and (min-width: 480px) and (max-width: 767px) {
.navigation {display:none;}	
label.inlinelabel { width: 170px; }  
    
    #banner
    {
        background: none;
    }
        
}



/***** Retina *****/
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {


}
