/*****
 * !BODY
 *****/
h2 {
	margin-top: 25px!important;
	margin-bottom: 20px!important;
}

.custom-button-block {
	margin: 15px;
}
  
.custom-button {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #b8e405;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #489A0C;
    width: 100%
}

.custom-button:hover,
.buttonstyle:hover {
    cursor: pointer;
    box-shadow: 0 0 15px #000000;
    border-color: #adf795;
}

.buttonstyle  {
    background: #79BBFF;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    border: #DFEFFF 1px solid;
    margin: 5px;
}

.buttonstyle:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    border-color: #fff;
    color: #fff;
}

.custom-button a {
	color: #fff;
}

.caution {
    color: #F00;
}

body {
    background-color: #84c1ff;
}

#mclogo  {
	float:left;padding:5px;
}

#header, 
#header2 {
    background-color: #000;
    color: #FFF;
    font-size: 2em;
    min-height: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
}

#header a {
    color: #FFF;
}

#header2 a {
    color: #000;
}

#header a:hover, 
#header2 a:hover {
    text-decoration: none;
    color: #46bbea;
}

#header2 {
	color: #000;font-size: 1.5em;
	background-color:
	#ccffcc;
}

#container {
    margin: 20px auto;
}

.content {
    color: #000;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 25px;
}

.rounded-corners {
    border-radius: 10px;
    /*border: 2px solid #383838;*/
}

.margintop10 { 
	margin-top: 10px !important; 
}

.page-heading {
    margin-bottom: 1.75em;
}

.page-subheading {
    font-size: 12px;
    margin-bottom: 2em;
}

.ui-widget-overlay {
    background: #000 !important;
    opacity: .5 !important;
    -moz-opacity: 0.5 !important;
    filter: alpha(opacity=50) !important;
}

/*****
 * !ERROR PAGES
 ****/
.error-message {
    color: #ffffff;
	font-size: 14px;
	font-weight: bolder;
	background-color: #ff0000;
	border-radius: 8px;
    max-width: 600px;
    width: 600px\9;
    text-align: center;
    margin: 0 auto 25px;
	padding: 10px;   
}

.success-message {
    color: #ffffff;
	font-size: 14px;
	font-weight: bolder;
	background-color: #008000;
	border-radius: 8px;
    max-width: 600px;
    width: 600px\9;
    text-align: center;
    margin: 0 auto 25px;
	padding: 10px;   
}

.unauthorized,
.content-link {
    color: #46baff !important;
    font-weight: bold;
}

form .error {
	color: #ff0000;
	display: inline!important;
}

/*****
 * !LOGIN FORM
 *****/
#login-form { 
	max-width: 600px; 
}

.submission-block {
    margin: 20px 20px 20px 0;
}

.submission-block input {
    padding:6px 9px 6px 9px;
    display: inline-block;
    font-size:14px;
    color:#fff;
    border:1px solid #999;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    cursor:pointer;
	margin-right: 5px;
}

.wrapper-block {
	margin-top: 5px;
    margin-bottom: 10px;	
}

hr.separator {
	border-color: #F3E9E9!important;
}

.wrapper-block #login-username,
.wrapper-block #login-password {
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #bbbbbb;
    width:200px;
    margin:2px 0 0 0;
}

.wrapper-block [type="password"],
.wrapper-block [type="email"],
.wrapper-block [type="number"],
.wrapper-block [type="text"] {
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #bbbbbb;
    width:200px;
    margin:2px 0 0 10px;
}

input#sign-in-button, 
input.button-modified {
    border: 1px solid #444444;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 11px;
    margin: 0 auto;
    padding: 4px 8px;
    background-color: #489A0C;
}

/*****
 * !UPDATE FORM
 *****/

#update-form {
    margin: 0 auto;
    max-width: 370px;
    width: 370px\9;
}

span.required-field {
    color: #F00;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    padding-left: 5px;
}

div.required-field-comment {
    text-align: right;
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: #F00;
    margin-bottom: 20px;
}

#reset-button {
    clear: both;
    background-color: #f53838;
}

#submit-button {
    clear: both;
    background-color: #489a0c;
}

#update-button-dialog {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #f5f5f5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #b8e405;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #489A0C;
    margin: 15px;
}

.update-admin-section {
    border: 1px solid #000;
    border-radius: 10px;
    padding-bottom: 10px;
}

.update-admin-section legend {
    margin-left: 15px;
    padding: 5px;
}

.form-text {
    margin-left: 150px;
}

.request-field-container {
    float: left;
    margin-bottom: 5px;
    width: 60%;
}

.request-field {
    margin-bottom: 4px;
    padding: 5px 3px 3px;
}

.request-field label {
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    max-width: 250px;
    text-align: right;
}

.request-field input {
	width: 200px;
}

/*****
 * !ACCOUNT
 *****/
.display-username {
    font-weight: bold;
    color: #489a0c;
}

/*!!NAVIGATION*/
.content-navigation {
	background-color: #3c3c3c;
	border-radius: 15px;
	box-shadow: 0 0 15px #888;
	text-transform: capitalize;
}

.content-navigation-lists {
    padding: 5px;
    text-align: right;
}

.menu-1-user li {
    border: 1px solid #7a7a7a;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.menu-1-user li:hover {
    box-shadow: 0 0 15px #46baff;
    border: 1px solid #75f2f9;
}

.menu-1-user li a, 
.menu-1-user label {
    display: block;
    color: #46baff;
    font-size: 14px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-1-user li a:hover {
    text-decoration: none;
    color: #89f03e;
}

.navigation-list-heading {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 5px;
	margin-top: 5px;
}

.navigation-list-heading-admin {
    color: #ff6262;
}

#logout-button a {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #3c3c3c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #9bdaff;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #46baff;
}

#homepage-button {
    margin-bottom: 10px;
}

#homepage-button a:hover {
    border-color: #e4e4e4;
    box-shadow: 0 0 15px #FFF;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

#homepage-button a {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #3c3c3c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #9bdaff;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #46baff;
}

#logout-button a:hover {
    border-color: #e4e4e4;
    box-shadow: 0 0 15px #FFF;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

/*!!BODY*/


.content-body {
    margin-bottom: 10px;
}

.logout {
    font-size: 16px;
    text-align: center;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
	-webkit-box-shadow: 0 0 5px #51cbee;
	-moz-box-shadow: 0 0 5px #51cbee;
	box-shadow: 0 0 5px #51cbee;
	border: 1px solid #51cbee;
}

input[type=text], input[type=password], input[type=number],input[type=email], textarea {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
}

input[type=file] {
	padding-left:10px;
	outline: none;
}

.altrow:nth-child(even) {
	background-color:#bbddff;
}

.altrow:nth-child(odd) {
	background-color:#fff;
}

.rowbox {
    border-radius: 10px 10px 10px 10px;
    margin: 9px 6px;
    padding: 10px;
	-webkit-box-shadow: 3px 5px 6px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    3px 5px 6px rgba(50, 50, 50, 0.25);
	box-shadow:        3px 5px 6px rgba(50, 50, 50, 0.25);
}

.spinner {
	float: right;
	padding: 0 10px;
}

.loadergif {
	float: right;
}

.bb {
	border-bottom: 1px solid #333;
	padding-bottom: 5px;
}

.smallicon {
	width: 16px; padding: 0 10px;
}
  
/** TABLE COLORS 
table.colors td{
	background-color: #ffffff;
	border-color: #ffffff;
}
table.colors td.white{
	background-color: #ffffff;
}
table.colors td.blue{
	background-color: #c1e0ff;
}
table.colors td.canary{
	background-color: #fffd97;
}
table.colors td.salmon{
	background-color: #ff9999;
}
table.colors td.grey{
	background-color: #cccccc;
}
table.colors td.orchid{
	background-color: #ddbbff;
}
table.colors td.buff{
	background-color: #ffec00;
}
table.colors td.red{
	background-color: #dc0b05;
}
table.colors td.pink{
	background-color: #ffcecf;
}
table.colors td.ivory{
	background-color: #fffff0;
}
table.colors td.green{
	background-color: #b0ffc2;
}
table.colors td.tgreen{
	background-color: #7cfc00;
}
table.colors td.egreen{
	background-color: #009516;
}
table.colors td.goldenrod{
	background-color: #ead24a;
}
table.colors td.celestial{
	background-color: #36a7ee;
}
table.colors td.byellow{
	background-color: #ffff00;
}
table.colors td.orange{
	background-color: #ff9900;
}
table.colors td.purple{
	background-color: #990099;
}
table.colors td.yellow{
	background-color: #fffd97;
}
**/

p.copyright_notice {
	border: 2px solid red;
	margin: 0 0 20px 0;
	padding: 20px;
	color: red;
	font-size: 14px;
}

p.copyright_notice strong {
	color: red;
}


select.colors option[value="White"]{
    background-color: #ffffff;
}

select.colors option[value="Blue"]{
    background-color: #c1e0ff;
}

select.colors option[value="Canary"]{
    background-color: #fffd97;
}

select.colors option[value="Salmon"]{
    background-color: #ff9999;
}

select.colors option[value="Grey"]{
    background-color: #cccccc;
}

select.colors option[value="Orchid"]{
    background-color: #ddbbff;
}
select.colors option[value="Buff"]{
    background-color: #ffec00;
}

select.colors option[value="Red"]{
    background-color: #dc0b05;
}

select.colors option[value="Pink"]{
    background-color: #ffcecf;
}

select.colors option[value="Ivory"]{
    background-color: #fffff0;
}

select.colors option[value="Green"]{
    background-color: #b0ffc2;
}

select.colors option[value="Terra Green"]{
    background-color: #7cfc00;
}

select.colors option[value="Emerald Green"]{
    background-color: #009516;
}

select.colors option[value="Goldenrod"]{
    background-color: #ead24a;
}

select.colors option[value="Celestial Blue"]{
    background-color: #36a7ee;
}

select.colors option[value="Bright Yellow"]{
    background-color: #ffff00;
}

select.colors option[value="Orange"]{
    background-color: #ff9900;
}

select.colors option[value="Purple"]{
    background-color: #990099;
}

select.colors option[value="Yellow"]{
    background-color: #fffd97;
}